
.udjat-panel-icon {
    width: 16px;
}

.udjat-item-icon {
    margin: 0px;
}

.udjat-item-title {
    margin-left: 5px;
    font-style: oblique;
    font-weight: lighter;
    font-size: 90%;
}

.udjat-item-message {
    margin-left: 5px;
    font-weight: normal;
    font-size: 110%;
}

