
.udjat-panel-icon {
    width: 16px;
}

.udjat-item-icon {
    margin-right: 10px;
}

.udjat-item-title {
    font-style: oblique;
    font-weight: lighter;
    font-size: 90%;
}

.udjat-item-message {
    font-weight: normal;
    font-size: 110%;
}

